.list {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;

  .listtitle {
    font-weight: 500;
    margin-left: 50px;
    color: white;
    font-size: 20px;
  }

  .wrapper {
    position: relative;

    .container {
      margin-top: 10px;
      margin-left: 50px;
      display: flex;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
    }
    .arrows {
      color: white;
      width: 50px;
      height: 100%;
      background-color: rgb(22, 22, 22, 0.5);
      z-index: 1;
      cursor: pointer;

      &.left {
        position: absolute;
        left: 0;
      }

      &.right {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
